## Archivos y carpetas de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Compilación
bin/
obj/
[Bb]uild/
[Bb]uilds/
[Ll]og/
[Ll]ogs/

## Paquetes de NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
*.psmdcp
*.dll
*.exe

## Archivos temporales
*.cache
*.pdb
*.tmp
*.bak
*.log
*.tlog
*.vsix
*.vsixmanifest
*.dbmdl
*.jfm
*.vssscc
*.vsscc

## Configuración de usuario
*.dotCover
*.idea/
*.vscode/
*.swp
*~

## Publicaciones
publish/
dist/
artifacts/

## Archivos de Azure
*.azurePubxml
*.pubxml
*.publishsettings

## Test
TestResult*/
[Bb]enchmarkDotNet.Artifacts/
